@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #fafafa;
  padding: 0;
}

.wrapper {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.navContainer {
  position: relative;
}
.hamburger,
.close {
  cursor: pointer;
}
.close {
  display: none;
}

.menu {
  background-color: #33323d;
  display: none;
  position: absolute;
  width: 250px;
  height: 200px;
  top: 5rem;
  right: 0rem;
}

.menu ul {
  display: flex;
  flex-direction: column;

  margin: 4rem auto;
  align-items: center;
}

.menu li:not(:last-child) {
  margin-bottom: 3rem;
}

.menu a {
  text-decoration: none;
  color: #fafafa;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.imgContainer {
  display: none;
}

/* HEADINGS */
h1,
h2,
h3 {
  font-family: "Ibarra Real Nova", serif;
}

h1 {
  font-weight: 700;
  line-height: 8rem;
  font-size: 4rem;
  color: #203a4c;
}

h2 {
  font-weight: 500;
  line-height: 50px;
  font-size: 4rem;
  color: #203a4c;
}

h3 {
  font-weight: 500;
  line-height: 50px;
  font-size: 3rem;
}
.homepageImageTablet,
.homepageImageDesktop {
  display: none;
}

.introWrapper {
  height: 30vh;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  margin-top: 9rem;
}

.introWrapper p {
  font-size: 2.4rem;
  padding-bottom: 3rem;
}

/* BUTTON */
.btn {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  outline: none;
  border: none;
}

.btn-primary-normal {
  background-color: #203a4c;
  color: #d8d8d8;
  padding-left: 0;
  padding: 1.5rem 4rem 1.5rem 0rem;
}

.btn-primary-normal:hover,
.btn-primary-normal:focus {
  background-color: #5fb4a2;
}

.btn-secondary-normal {
  border: 1px solid #33323d;
  padding: 1.5rem 2rem 1.5rem 2rem;
  background-color: #fafafa;
  color: #33323d;
}

.btn.btn-secondary-normal:hover {
  background-color: #33323d;
  color: #fafafa;
}
/* HEADER */
.navContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

span {
  display: block;
}

ul {
  display: none;
}
ul li {
  text-transform: uppercase;
  display: inline-block;
}

a {
  text-decoration: none;
}
.nav li a:hover,
.nav li a:focus {
  color: #5fb4a2;
}

.contactMe a,
.aboutMe a {
  color: #222222;
}

/* IMAGE STYLING */
.homepageImage,
.imgContainer img {
  width: 100%;
}

.homepageImageMobile {
  width: 100%;
}

.downArrow {
  display: inline-block;
  padding: 0 1.5rem;
}

/* ABOUT SECTION */
.about {
  margin-top: 9rem;
}

.aboutMe {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 3.5rem;
  padding-bottom: 3rem 0;
}

.aboutMe h2 {
  padding: 3rem 0;
}

.aboutMe p {
  color: #716868;
  line-height: 3rem;
  font-weight: 100;
  margin-bottom: 3rem;
}

.aboutBtn {
  margin-bottom: 5rem;
}

.aboutBtn:hover {
  color: #fafafa;
}
/* CONTACT ME */
.contactMe {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 7rem;
}

.contactMeBtn {
  margin-top: 3.5rem;
}

/* FOOTER */
footer {
  color: #fafafa;
  background-color: #33323d;
  padding-top: 5rem;
  text-align: center;
}

.footerNav {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

.footerNav li {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-top: 4.5rem;
}

.footerNav li a {
  text-decoration: none;
  color: #fafafa;
}

.socials img {
  margin: 4.5rem 0.5rem 5rem;
}

/* PORFOLIO STYLINGS */
/* FIRST PROJECT */

.projectDetails {
  margin-top: 4rem;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.projectDetails p {
  color: #716868;
  line-height: 3rem;
  font-weight: 100;
  margin-bottom: 3rem;
}

.viewProjectBtn {
  margin-bottom: 4rem;
}

/* SECOND PROJECT */
.secondProject,
.thirdProject,
.fourthProject,
.fifthProject {
  margin-top: 8rem;
}

/* CONTACT */
.firstContactSection {
  margin-top: 5rem;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.firstContactSection h2 {
  padding: 2rem 0;
}

.getInTouchContainer p {
  color: #716868;
  line-height: 3rem;
  font-weight: 100;
  font-size: 1.4rem;
}

.getInTouchContainer .socials img {
  margin-top: 2rem;
  margin-left: 0;
  margin-bottom: 2.5rem;
}

/* FORM */
.contactMeForm h2 {
  padding: 3rem 0;
}
.contactMeForm textarea {
  font-family: "Public Sans", sans-serif;
  resize: none;
}

.contactMeForm input,
.contactMeForm textarea {
  font-size: 1.3rem;
  background-color: #d8d8d8;
  outline: none;
  border: none;
  padding: 2rem;
  margin-bottom: 2rem;
}
.contactMeForm label {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 100;
  color: #716868;
  padding: 1.3rem 0;
}
.contactMeForm input,
.contactMeForm textarea {
  width: 100%;
}

.sendMeBtn {
  background-color: #203a4c;
  color: #fafafa;
  margin-bottom: 7rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
}

.skillSet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5rem 0 0;
  color: #203a4c;
}

.skillSet p {
  font-size: 3.5rem;
  font-family: "Ibarra Real Nova", serif;
  margin-bottom: 3rem;
}

.skillsIcons {
  display: flex;
  justify-content: space-between;
}

.skillSet i {
  font-size: 5rem;
}
/* MEDIA QUERIES */
/* Portrait tablet and small desktops */
/* Large desktop */

@media (min-width: 768px) {
  /* HOME */
  header {
    position: relative;
  }

  .hamburger {
    display: none;
  }

  .homepageImageMobile {
    display: none;
  }

  .homepageImageTablet {
    display: block;
    width: 100%;
  }

 
  .introWrapper {
    width: 100%;
  }
  .about {
    display: flex;
    justify-content: space-between;
  }

  .aboutMe {
    width: 52%;
    margin-top: 0;
  }

  .imgContainer {
    width: 40%;
    display: block;
  }

  .imgContainer img {
    height: 100%;
    object-position: contain;
  }

  /* NAVIGATION */
  .hamburger {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav li a {
    font-size: 1.3rem;
    color: #716868;
    margin-left: 4rem;
  }

  /* CONTACT ME */

  .contactMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contactMe a,
  .aboutMe a {
    color: #222222;
    width: 17%;
  }

  .contactMe h3 {
    flex-grow: 2;
    text-align: left;
    width: 40%;
  }

  .contactMeBtn {
    margin-top: 0;
  }

  .firstProject,
  .thirdProject,
  .fifthProject {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
  }

  .projectImg {
    width: 54%;
  }

  .projectImg img {
    height: 91%;
    object-fit: fill;
  }

  .projectDetails {
    width: 40%;
    margin-top: 0;
  }

  .secondProject,
  .fourthProject {
    display: flex;
    flex-direction: row-reverse;
    border-top: none;
    justify-content: space-between;
  }

  .thirdProject {
    border: none;
  }

  footer {
    padding: 0;
    text-align: unset;
  }

  .footerContainer {
    display: flex;
    justify-content: space-between;
  }
  .footerLogoContact {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerNav {
    flex-direction: row;
  }

  .footerNav li {
    margin-left: 4rem;
    margin-top: 0;
  }

  .footerContainer {
    justify-content: space-between;
    align-items: center;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 960px) and (max-width: 972px) {
  .introWrapper {
    background-color: #fafafa;
    position: absolute;
  }
}

@media only screen and (min-width: 973px) and (max-width: 1020px) {
  .about {
    margin-top: 15rem;
  }

  .firstContactSection,
  .contactMeForm {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
  }

  .firstContactSection h2,
  .contactMeForm h2 {
    padding: 0;
  }

  .getInTouchContainer,
  form {
    width: 60%;
  }
}

@media only screen and (min-width: 1021px) {
  .firstContactSection,
  .contactMeForm {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
  }

  .firstContactSection h2,
  .contactMeForm h2 {
    padding: 0;
  }

  .getInTouchContainer,
  form {
    width: 60%;
  }
}
