@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");

/* font-family: 'Ibarra Real Nova', serif; */

/* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap" rel="stylesheet">  */

/* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap" rel="stylesheet">  */

/* font-family: 'Public Sans', sans-serif; */

html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #fafafa;
}

.wrapper {
  max-width: 960px;
  width: 85%;
  margin: 0 auto;
}

/* HEADINGS */
h1,
h2,
h3 {
  font-family: "Ibarra Real Nova", serif;
}

h1 {
  font-weight: 700;
  line-height: 50px;
  font-size: 4rem;
  color: #203a4c;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h2 {
  font-weight: 500;
  line-height: 50px;
  font-size: 4rem;
  color: #203a4c;
}

h3 {
  font-weight: 500;
  line-height: 50px;
  font-size: 4rem;
}

/* BUTTON */
.btn {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  outline: none;
  border: none;
}

.btn-primary-normal {
  background-color: #203a4c;
  color: #d8d8d8;
  padding-left: 0;
  padding: 1.5rem 4rem 1.5rem 0rem;
}

.btn-secondary-normal {
  border: 1px solid #33323d;
  padding: 1.5rem 2rem 1.5rem 2rem;
  background-color: #fafafa;
}

/* HEADER */

header {
  /* margin-top: 3.2rem; */
}
.navContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

span {
  display: block;
}

ul {
  display: none;
}
ul li {
  text-transform: uppercase;
  display: inline-block;
}

a {
  text-decoration: none;
}

/* IMAGE STYLING */
.homepageImage,
.imgContainer img {
  width: 100%;
}

.downArrow {
  display: inline-block;
  padding: 0 1.5rem;
}

/* ABOUT SECTION */
.about {
  margin-top: 9rem;
}

.aboutMe {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 3.5rem;
  padding-bottom: 3rem 0;
}

.aboutMe h2 {
  padding: 3rem 0;
}

.aboutMe p {
  color: #716868;
  line-height: 3rem;
  font-weight: 100;
  margin-bottom: 3rem;
}

.aboutBtn {
  margin-bottom: 5rem;
}

/* CONTACT ME */
.contactMe {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 7rem;
}

.contactMeBtn {
  margin-top: 3.5rem;
}

/* FOOTER */
footer {
  color: #fafafa;
  background-color: #33323d;
  padding-top: 5rem;
  text-align: center;
}

.footerNav {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

.footerNav li {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-top: 4.5rem;
}

.footerNav li a {
  text-decoration: none;
  color: #fafafa;
}

.socials img {
  margin: 4.5rem 0.5rem 5rem;
}

/* PORFOLIO STYLINGS */
/* FIRST PROJECT */

.projectDetails {
  margin-top: 4rem;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.projectDetails p {
  color: #716868;
  line-height: 3rem;
  font-weight: 100;
  margin-bottom: 3rem;
}

.viewProjectBtn {
  margin-bottom: 4rem;
}

/* SECOND PROJECT */
.secondProject,
.thirdProject,
.fourthProject {
  margin-top: 8rem;
  border-top: 1px solid #d8d8d8;
}

/* CONTACT */
.firstContactSection {
  margin-top: 5rem;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.firstContactSection h2 {
  padding: 2rem 0;
}

.getInTouchContainer p {
  color: #716868;
  line-height: 3rem;
  font-weight: 100;
  font-size: 1.4rem;
}

.getInTouchContainer .socials img {
  margin-top: 2rem;
  margin-left: 0;
  margin-bottom: 2.5rem;
}

/* FORM */
.contactMeForm h2 {
  padding: 3rem 0;
}
.contactMeForm textarea {
  font-family: "Public Sans", sans-serif;
  resize: none;
}

.contactMeForm input,
.contactMeForm textarea {
  font-size: 1.3rem;
  background-color: #d8d8d8;
  outline: none;
  border: none;
  padding: 2rem;
  margin-bottom: 2rem;
}
.contactMeForm label {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 100;
  color: #716868;
  padding: 1.3rem 0;
}
.contactMeForm input,
.contactMeForm textarea {
  width: 100%;
}

.sendMeBtn {
  background-color: #203a4c;
  color: #fafafa;
  margin-bottom: 7rem;
}

/* MEDIA QUERIES */
/* Portrait tablet and small desktops */
/* Large desktop */
@media (min-width: 1201px) {
  /* body {
    background-color: green;
  } */
}

@media (max-width: 1200px) {
  /* body {
    background-color: #716868;
  } */
}

@media (max-width: 940px) {
  /* body {
    background-color: #b2d6ff;
  } */
  /* Blue */
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  /* HOME */
  header {
    position: relative;
  }
  .introWrapper {
    background-color: #fafafa;
    position: absolute;
    width: 75%;
    top: 38rem;
  }

  .about {
    display: flex;
    justify-content: space-between;
  }

  .aboutMe {
    width: 52%;
    margin-top: 0;
  }

  .imgContainer {
    width: 40%;
  }

  .imgContainer img {
    height: 100%;
    object-position: contain;
  }

  /* NAVIGATION */
  .hamburger {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav li a {
    font-size: 1.3rem;
    color: #716868;
    margin-left: 4rem;
  }

  /* CONTACT ME */

  .contactMe {
    display: flex;
    justify-content: space-between;
  }

  .contactMe a,
  .aboutMe a {
    color: #222222;
  }

  .contactMe h3 {
    flex-grow: 2;
    text-align: left;
  }

  .contactMeBtn {
    width: 35%;
    height: -moz-max-content;
  }
  /* FOOTER */
  footer {
    padding: 0;
    text-align: unset;
  }

  .footerContainer {
    display: flex;
    justify-content: space-between;
  }
  .footerLogoContact {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerNav {
    flex-direction: row;
  }

  .footerNav li {
    margin-left: 4rem;
    margin-top: 0;
  }

  .footerContainer {
    justify-content: space-between;
    align-items: center;
  }
}

/* Landscape phones and down */
/* @media (max-width: 480px) {
  body {
    background-color: #f09a9d;
  }
} */

@media only screen and (max-width: 400px) {
  /* body {
    background-color: #f09a9d; 
   
  } */
  /* Red */
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  /* body {
    background-color: #b2d6ff; 
  } */
  /* Blue */
}
