@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");

/* font-family: 'Ibarra Real Nova', serif; */

/* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap" rel="stylesheet">  */

/* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap" rel="stylesheet">  */

/* font-family: 'Public Sans', sans-serif; */

html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
  background-color: #fafafa;
  font-size: 1.6rem;
}

.wrapper {
  max-width: 960px;
  width: 85%;
  margin: 0 auto;
}

/* HEADINGS */
h1,
h2,
h3 {
  font-family: "Ibarra Real Nova", serif;
}

h1 {
  font-weight: 700;
  line-height: 50px;
  font-size: 4rem;
  color: #203a4c;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h2 {
  font-weight: 500;
  line-height: 50px;
  font-size: 4rem;
  color: #203a4c;

}

h3 {
  font-weight: 500;
  line-height: 50px;
  font-size: 4rem;
}

/* BUTTON */
.btn {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  outline: none;
  border: none;
}

.btn-primary-normal {
  background-color: #203a4c;
  color: #d8d8d8;
  padding-left: 0;
  padding: 1.5rem 4rem 1.5rem 0rem;
}

.btn-secondary-normal {
  border: 1px solid #33323d;
  padding: 1.5rem 2rem 1.5rem 2rem;
  background-color: #fafafa;
}

/* HEADER */

header {
  /* margin-top: 3.2rem; */
}
.navContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

span {
  display: block;
}

ul {
  display: none;
}
ul li {
  text-transform: uppercase;
  display: inline-block;
}

a {
  text-decoration: none;
}

/* IMAGE STYLING */
.homepageImage,
.imgContainer img {
  width: 100%;
}

.downArrow {
  display: inline-block;
  padding: 0 1.5rem;
}

/* ABOUT SECTION */
.about {
  margin-top: 9rem;
}

.aboutMe {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 3.5rem;
  padding-bottom: 3rem 0;
}

.aboutMe h2 {
  padding: 3rem 0;
}

.aboutMe p {
  color: #716868;
  line-height: 3rem;
  font-weight: 100;
  margin-bottom: 3rem;
}

.aboutBtn {
  margin-bottom: 5rem;
}

/* CONTACT ME */
.contactMe {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 7rem;
}

.contactMeBtn {
  margin-top: 3.5rem;
}

/* FOOTER */
footer {
  color: #fafafa;
  background-color: #33323d;
  padding-top: 5rem;
  text-align: center;
}

.footerNav {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

.footerNav li {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-top: 4.5rem;
}

.footerNav li a {
  text-decoration: none;
  color: #fafafa;
}

.socials img {
  margin: 4.5rem 0.5rem 5rem;
}